= link_to "List tasks", root_url, class: "btn btn-default"

.newTaskForm
  %br

  = form_for :task, url: '/tasks' do |f|
    = f.label :name, "Task name"
    = f.text_field :name,  class: "form-control"

    %br
    = f.label :duration, "Task duration"
    %br
    .col-xs-1
      = f.text_field :hh, placeholder: "HH", class: "form-control"
    .col-xs-1
      = f.text_field :mm, placeholder: "MM", class: "form-control"
    .col-xs-1
      = f.text_field :ss, placeholder: "SS", class: "form-control"
    %br

    %br
    = f.label :description, "Task description"
    = f.text_area :description, class: "form-control"

    %br
    = f.submit "Create task", class: "btn btn-success"