%h1 Current tasks
- if @Tasks
  - @Tasks.each do |task|
    .task
      .taskName
        = task.name
      .taskDuration
        = task.duration
      .taskDetails
        = task.description

  = link_to "Create Task", new_task_path, class: "btn btn-warning"
- else
  %p
    No tasks currently available.
    = link_to "Create taks", new_task_path, class: "btn btn-success"