- # Show the list of all tasks
- if @Tasks
  %ul#tasksList
    - @Tasks.each do |task|
      %li.task.taskEntry{data: {id: task.id}}
        .taskName
          Task: #{task.name}
        .taskDuration
          %span.taskCountdown{data: {id: task.id}} #{show_formatted_duration(task.duration)}
        .taskActions
          %a.startCounter{data: {id: task.id}, href: "#"}
            Start
          %span -
          %a.stopCounter{data: {id: task.id}, href: "#"}
            Pause
          %span -
          = link_to "Edit timer", "#", class: "editTimer", data: {id: task.id}
          %span -
          = link_to "Delete task", "#", class: "deleteTask", data: {id: task.id}
        .taskDetails.collapsed
          Note: #{task.description}