!!!
%html
  %head
    %meta{:content => "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %title Timer Application
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - if !flash.empty?
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-#{name}"
    .container
      %ul
        %li
          = link_to "Click here to add a new task", "#", id: "showCreationForm"

          .newTaskForm#taskCreationForm
            = form_for :task, url: '/tasks' do |f|
              = f.label :name, "Task:"
              = f.text_field :name, class: "input", placeholder: "Enter your task's name here, then use the timer below to assign your task a time", id: "taskName"

              %br
              = f.text_field :hh, placeholder: "00", class: "input small", id: "taskHours"
              %span hr
              = f.text_field :mm, placeholder: "00", class: "input small", id: "taskMinutes"
              %span min
              = f.text_field :ss, placeholder: "00", class: "input small", id: "taskSeconds"
              %span sec

              %br

              = f.label :description, "Note:"
              %br
              = f.text_area :description, placeholder: "This is where you can write whatever you want. When you've done, click Create below to add this task", class: "input fullwidth", id: "taskNote"

              %br
              = f.submit "Create", class: "btn-link"
              %span -
              = link_to "Cancel", "#", id:"hideCreationForm"
        %li
          Total: #{show_formatted_duration(@TotalDuration)}
      - # Yeld the content
      = yield